.row
  .col-md-6.offset-md-3
    | Booking form
    - if @errors
      - @errors.each do |attr, msg|
        .err= "#{attr} #{msg}"
    .form
      = form_for(@booking_form, url: hotel_bookings_path, remote: false) do |f|
        .form-group
          =f.label :started_at, class: 'booking-label'
          =f.date_select :started_at, class: 'form-control'
        .form-group
          =f.label :ended_at, class: 'booking-label'
          =f.date_select :ended_at, class: 'form-control'
        .form-group
          =f.label :user_email, class: 'booking-label'
          =f.email_field :user_email, class: 'form-control'
        .form-group
          =f.label :user_name, class: 'booking-label'
          =f.text_field :user_name, class: 'form-control'
        .form-group
          =f.hidden_field :hotel_id
        .form-group
          =f.submit
