doctype html
html
  head
    title
      | FindHotel
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  body
    .container
      = yield
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDcp1tHCiK3Bv8k6yjwdzTXE2SLINJnxbQ&libraries=places&callback=initMap'
